{% extends 'base.html.twig' %}

{% block body %}

{% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger text-2xl bg-red-300" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}

{% for tag in tags %}
    <button class="p-3 bg-blue-900 text-white follow-tag" type="button" data-tag-id={{ tag.id }}> {{tag.tagName}} </button>
    <button class="bg-blue-900 text-white unfollow-tag" type="button" data-tag-id="{{ tag.id }}"><img src="{{ asset('assets/icons/close-icon.png') }}" alt="close icon" class="w-[30px]" ></button>
{% endfor %}

{% endblock %}
